header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: black;
    color: white;
    height: 50px;
    font-size: 20px;
    align-items: center;
}

.container {
    max-width: 900px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

header a {
    color: white;
}

a + a {
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    color: royalblue;
}
